
*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:900px) {
    .row{
        margin: 0 auto;
    }
    
    .portfolioIcon{
        height: 125px;
        width: 150px;
        color: gold;
    }
    
    .portfolioLabel {
        background-color: #cc5500;
        color: white;
        width: 150px;
        text-align: center;
        font-family: 'Play', sans-serif;
        
    }
    .leagueSection{
    max-width: 100%;
    margin: 0% auto;
    padding: 5% 5% 5% 10%;
    }

    i{
        padding: 3px;
        float: right;
        color: gold;
        
    }

    .hallImage{
        height: 100px;
        width: auto;
    }

    .col-sm{
        max-width: 90%;
    }

    .col-3{
        border: black 2px solid;
        width: 200px;
        text-align: center;
        margin: 1%;
    }

    .headshot{
        height: 10px;
    }


    

  
}