
    .navbar-brand{
        font-family: 'Carter One', cursive;
        /* font-family: 'Play', sans-serif; */
        font-size: 45px;
    }

    .nav-link{
    
        font-size: 25px;
    }
    .link {
        color: white;
    }
    .card-body{
        margin: 0 5%;
        min-height: 325px;
    }


    a{
        color: #cc5500;
        text-decoration: none;
    }

    .sectionTitle{
        color: #005A04;
        font-size: 50px;
        font-family: 'Carter One', cursive;
        text-shadow: 3px -1px 0 #9C9F84;
    
        
    }

    i{
        padding: 3px;
        float: right;
        color: gold;
        
    }

    #aboutIcon {
        align-content: center;
        margin: 0 auto;
    }

    .leagueSection{
        background-color:white;
        border: 5px solid grey;
        margin: 0;
        height: auto;
        padding: 5% 5% 5% 10%;
        font-family: 'News Cycle', sans-serif;
    }

    .keeperSection{
        background-color:white;
        border: 5px solid grey;
        margin: 0;
        height: auto;
        /* padding: 5% 5% 5% 10%; */
        font-family: 'News Cycle', sans-serif;
    }

    .headshot{
        height: 200px;
        width: auto;
    }


    #resume{
        margin: 10% 0;
        text-align: right;
    
    }

    .conIcon{
        height: 500px;
        width: auto;
        border: none;
    }
    .contactDiv{
        
        margin: 0 auto;
    }

    #icons{
        margin: 0 auto;
        color: white;
        float: right;
    }

    .contactForm {
        color: black;
    }

    .nameBox {
        width: 100%;
        margin: 10px 0px;
    }

    .emailBox {
        width: 100%;
        margin: 10px 0px;
    }

    .messageBox {
        width: 100%;
        height: 125px;
        margin: 10px 0px;

    }

    .row{
        margin: 0 auto;
      }

    .col-sm{
    border: black 2px solid;
    max-width: 300px;
    height: 325px;
    text-align: center;
    margin: 1%;
}

.col-3{
    border: black 2px solid;
    max-width: 300px;
    height: 325px;
    text-align: center;
    margin: 1%;
}


.li{
    padding-left: 10%;
}


    .col-lg{
        margin: 3% auto;
        align-content: center;
    }

    .footer {
        height: 50px;
        width: 100%;
        color: #ccc;
        text-align: center;
        background-color: #666666;
        border-top: 10px #4aaaa5 solid; 
        padding: 0px;
        position: fixed;
        left: 0;
        bottom: 0;
        
    }


*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:900px) {
    .row{
        margin: 0 auto;
    }
    
    .portfolioIcon{
        height: 125px;
        width: 150px;
        color: gold;
    }
    
    .portfolioLabel {
        background-color: #cc5500;
        color: white;
        width: 150px;
        text-align: center;
        font-family: 'Play', sans-serif;
        
    }
    .leagueSection{
    max-width: 100%;
    margin: 0% auto;
    padding: 5% 5% 5% 10%;
    }

    i{
        padding: 3px;
        float: right;
        color: gold;
        
    }

    .hallImage{
        height: 100px;
        width: auto;
    }

    .col-sm{
        max-width: 90%;
    }

    .col-3{
        border: black 2px solid;
        max-width: 170px;
        height: 180px;
        text-align: center;
        margin: 1%;
    }

    .headshot{
        height: 175px;
    }


    

  
}